.footer {
  width: 100%;
  height: 50px;
  background: rgb(122, 87, 20);
  font-size: 75%;
  color: white;
  position: relative;
}

#footerNavi li{
  padding-left: 10px;
  display: inline;
  text-align: left;
}

a{
  color: white;
}

#Copyright{
  position: absolute;
  right: 0;
  bottom: 0;
}