.footer {
  width: 100%;
  height: 50px;
  background: rgb(122, 87, 20);
  font-size: 75%;
  color: white;
  bottom: 0px;
  position: fixed;
  padding: 10px 0;
  margin-top: auto;
}

#footerNavi li{
  display: inline;
  margin-left: 1px;
}

#footerNavi{
  color: white;
  padding-left:16%;
  display: flex;
}

a:link,a:visited{
  color: white;
}

a:hover{
  color: orange;
}

#Copyright{
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer_linktag{
  text-decoration: none;
}

.footer_linktag:hover{
  color: orange;
}
