.header {
  width: 100%;
  font-size: 18px;
  height: 10px;
  color:  white;
  background: #996633;
  height:100px;
}

.header_ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

li {
  padding: 0 20px;
  /* border-right: #ddd 1px solid; */
}

.box{
  margin-bottom: 100px;
  padding-right: 30px;
}


.linktag{
  text-decoration: none;
}

.linktag:hover{
  color: orange;
}

