.header {
  width: 100%;
  font-size: 18px;
  height: 10px;
  color:  white;
  background: #996633;
  height:100px;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

li {
  padding: 0 10px;
  border-right: #ddd 1px solid;
}

.box{
  margin-bottom: 100px;
  padding-right: 100px;
}

a{
  color: white;
  text-decoration: none;
}
