#attention{
    text-align: center;
    font-size: 11px;
    color: darkgrey;
}

#pass{
    text-align: center;
    font-size: 11px;
    color: cornflowerblue;
    text-decoration: underline;
}

#center{
    text-align: center;
}

#space{
    margin-right: 15px;
}