
  .sidelist{
  height: auto;
  width: 180px;
  background: white;
  /*position: fixed; スクロールしても固定表示*/
  }

  .sidelist_space{
  height: auto;/*317px;*/
  width: 180px;
  background: white;
  /*position: fixed; スクロールしても固定表示*/
  }

  #menu ul{ 
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  }

  #menu li{ 
  display: inline-block;
  padding: 0; 
  margin: 0; 
  }

  #menu li a{
  display: inline-block;
  border-left: 8px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  background: white;

  padding: 3px 10px;
  text-decoration: none;
  color: #333;
  width: 150px;
  margin: 1px 0px;
  text-align: left;
  font-size: 14px;
  }

  #menu li a:hover{

  background-color: #EEEEEE;
  }
