/*マイページの設定*/
.header_ul ul{
    position: absolute;
  }
  .header_ul li{
    list-style: none;
  }
  
  .header_ul li a{
    display: table-cell;
  }
  
  .header_ul li li{
    height: 0;
    overflow: hidden;
    transition: .5s;
  }
  
  .header_ul li li Link{
    border-top: 1px solid #eee;
  }
  
  .header_ul li:hover > ul > li{
    line-height: 1.5em;
    background-color: darkolivegreen;
    border-bottom: 1px solid white;
    height: 2rem;
    overflow: visible;
  }